In [4]:
import pandas as pd
homes = pd.read_fwf('./data/housing.data', 
            names=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 
                   'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B',
                   'LSTAT', 'MEDV'
                  ])
homes.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

# Gradient Descent


## Cost Function
The cost function can be written as follows:

\begin{align}
J(\theta_0, \theta_1) = \frac1{2m}\  \sum_{k=1}^m ( h_\theta(x_i) - y_i )^2
\end{align}

## Gradient descent

Repeat until convergence

\begin{align}
\theta_j := \theta_j - \alpha \frac{\partial}{\partial \theta_j} J(\theta_0, \theta_1)
\end{align}

Will become:  

\begin{align}
\theta_0 := \theta_0 - \alpha \frac1m \sum_{k=1}^m ( h_\theta(x_i) - y_i )  \\
\theta_1 := \theta_1 - \alpha \frac1m \sum_{k=1}^m (( h_\theta(x_i) - y_i ) x_i)
\end{align}